# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# built artifacts
/kmgmt
/kmgmt.zip
/kmgmt-*.tgz
/kmgmt-*.zip

# coverage artifacts
/coverage.txt

# Visual Studio Code artifacts
.vscode

# OS turds
.DS_Store

/vendor